<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @mix.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mix.description %>
</p>

<%= link_to 'Edit', edit_mix_path(@mix) %> |
<%= link_to 'Back', mixes_path %>
