<%= link_to 'All Mixes', mixes_path %>
<br>
<br>
<h1><%= @mix.title %></h1>
<p><%= @mix.description %></p>
<br>
<%= render 'form' %>
<br>
<table>
  <tr>
    <th>Artist</th>
    <th>Title</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @songs.reverse.drop(1).reverse.each do |song| %>
  <tr>
    <td><%= song.artist %></td>
    <td><%= song.title %></td>
    <td><%= song.link %></td>
    <td><%= link_to 'Show', [song.mix, song] %></td>
    <td><%= link_to 'Edit', edit_mix_song_path(song.mix, song) %></td>
    <td><%= link_to 'Destroy', [song.mix, song], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
