<% if user_signed_in? %>
<%= link_to 'My Mixes', mixes_path %>
<% end %>

<br>
<br>
<h1><%= @mix.title %></h1>
<p><%= @mix.description %></p>
<br>
<% if @mix.user == current_user %>
<h3>Add a song</h3>
<%= render 'form' %>
<% end %>
<br>
<table>
  <tr>
    <th>Artist</th>
    <th>Title</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @songs.reverse.drop(1).reverse.each do |song| %>
  <tr>
    <td><%= song.artist %></td>
    <td><%= song.title %></td>
    <td><%= song.link %></td>
    <% if song.user == current_user %>
      <% if (1 > 2) %>
        <td><%= link_to 'Edit', edit_mix_song_path(song.mix, song) %></td>
      <% end %>
    <td><%= link_to 'Delete', [song.mix, song], :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
