<h1><%= @mix.title %></h1>
<p><%= @mix.description %></p>
<br>
<%= render 'form' %>
<table>
  <tr>
    <th>Artist</th>
    <th>Title</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @songs.reverse.drop(1).reverse.each do |song| %>
  <tr>
    <td><%= song.artist %></td>
    <td><%= song.title %></td>
    <td><%= song.link %></td>
    <td><%= link_to 'Show', [song.mix, song] %></td>
    <td><%= link_to 'Edit', edit_mix_song_path(@mix, @mix.songs.ids) %></td>
    <td><%= link_to 'Destroy', [song.mix, song], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Song', new_mix_song_path(params[:mix_id]) %>
<h1>New song</h1>



<%= link_to 'Back', mix_songs_path(@song.mix) %>
